<div class="p-2">
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Natjecanje</th>
                    <th>Bodovi</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>
                    {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.korisnik}}</td>
                    <td>{{this.compName}}</td>
                    <td>{{this.bodovi}}</td>
                    <td class="flex flex-wrap gap-2">
                        {{#if ../user.is_admin}}
                        <a href="" class="btn btn-accent btn-xs">Bodovi</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</div>