<div class="hero min-h-screen bg-base-200">
    <div class="hero-content">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Prijava na natjecanje</h1>

            {{#if result.validation_error}}
            {{> validation_error }}
            {{/if}}

            {{#if result.success}}
            <div class="mt-4">
                <div class="card w-96 bg-primary text-primary-content">
                    <div class="card-body">
                        <h2 class="card-title">Uspjeh!</h2>
                        <p>
                            Uspješno ste se prijavili, možete nastaviti s radom!
                        </p>
                        <div class="card-actions justify-end">
                            <a class="btn" href="/competitions/index">Nastavi na naslovnicu</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>